*{
    box-sizing: border-box;
    padding: 0;

}
/*Project H Logo size*/
.infoPic{
    width: 450px;
    height: 450px;
    grid-column-start: 1;
    grid-column-end: line1;
    grid-row-start: row1-start;
    justify-self: stretch;
    padding: 0px;
}

.projectH{
    color:#ffffff;
    font-weight: 2rem;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}

.content{
    background-color: black;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 550px;
}

.grid{
    display: grid;
    grid-template-columns: [first] 450px [line2] auto ;
    grid-template-rows: [row1-start] 550px [row1-end] 550px [row2-start] 550px;
}

.text{
    grid-column-start: line1;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    justify-self: center;
    padding: 100px;
}
.githubIcon{
    width: 450px;
    height: 450px;
}
.github{
    grid-column-start: line1;
    grid-column-end: end;
    grid-row-start: row1-end;
    grid-row-end: row2-start;
    justify-self: end;
    padding: 10px;
    
}

.githubText{
    grid-column-start: first;
    grid-column-end: line1;
    grid-row-start: row1-end;
    justify-content: center;
    padding: 100px;
    
    
}

.firefox{
    grid-column-start: first;
    grid-column-end: 4 ;
    grid-row-start: auto;
    grid-row-end: auto ;

    background-color: #47009e;
    padding: 10px;
   

}
.ffText{
    grid-column-start: line1;
    grid-column-end:5;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 100px;
    background-color: #47009e;
    justify-content: end;
    width:auto
    
}

.firefoxImg{
    width: 400px;
    height: 400px;
    
}

.ffTextStyle{
    color:#2aacfa;
    font-weight: 2rem;
    font-size: 50px;
    font-family: Helvetica, sans-serif;

}


/*This class is for features that are not yet available */
.help{ 
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 100px;
    background-color: #cccccc3f;
    font-family: Graphik Web , sans-serif;
    font-size: 20px;
    font-weight: 180;
    color: black;
    

}
